/* RESET LẠI TOÀN BỘ FILE INDEX.CSS */

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Ép trình duyệt luôn dùng chế độ sáng để tránh mất màu chữ */
  color-scheme: light;
  color: #1f2937;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  display: block; /* Hủy bỏ flex cũ để trang web trải dài bình thường */
}

#root {
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}